body {
    background-color: lightseagreen;
    color: #333333;
}
a {
    color: #333333;
}
a:hover {
    text-decoration: none;
}
.container {
    margin-top: 20px;
    margin-bottom: 20px;
}
.container > .row {
    margin-top: 10px;
    margin-bottom: 10px;
}
.rating{
    color: rgba(152, 40, 226, 0.705);
}
.btn-primary {
    background-color: rgba(152, 40, 226, 0.705);
}
.btn-secondary {
    color: rgba(152, 40, 226, 0.705);
    background-color: #eeeeee;
}
.btn-link{
    color:  rgba(152, 40, 226, 0.705);
    background-color: transparent;    
}
.comment {
    background-color: white;
    margin: 10px;
    padding: 10px;
    border: 3px solid lightgray;
}
.rating {
    cursor: pointer;
}