body {
    background-color: lightseagreen;
    color: #333333;
}
.container {
    margin-top: 20px;
    margin-bottom: 20px;
}
.container > .row {
    margin-top: 10px;
    margin-bottom: 10px;
}
#rating{
    color: rgba(152, 40, 226, 0.705);
}