body {
    background-color: lightseagreen;
    color: #333333;
}
.container {
    margin-top: 20px;
    margin-bottom: 20px;
}
.container > .row {
    margin-top: 10px;
    margin-bottom: 10px;
}